.card-container {
  top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* 변경된 간격 설정 */
}

.card-item {
  flex: 1 0 calc(20% - 40px); /* 간격을 반영하여 너비 계산 */
  max-width: calc(20% - 20px); /* 간격을 반영하여 최대 너비 설정 */
  box-sizing: border-box;
  padding: 20px; /* 간격을 반영하여 내부 패딩 설정 */
  margin: 10px;
}
